@import 'tailwindcss';
@import 'swiper/swiper-bundle.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* scrollbar-gutter: stable; */
  overflow-x: hidden;
}

@media only screen and (max-width: 400px) {
  :root {
    font-size: 2rem;
  }
}

/* --color-cambridge: #82c09a; */

@theme {
  --color-visited: #551a8b;
  --color-cambridge: #b8ccf2;
  --color-cambridge1: #82c09a;
  --color-periwinkleh: #98a5bf;
  --color-periwinkle: #b8ccf2;
  --color-orangeone: #d64933;
}

@layer components {
  .heading {
    @apply text-base sm:text-2xl md:text-3xl lg:text-4xl font-semibold text-gray-800;
  }
  .subheading {
    @apply text-base mb-2 md:text-lg lg:text-xl font-semibold text-gray-600;
  }
  .body-text {
    @apply text-xs sm:text-base md:text-lg lg:text-2xl text-gray-800;
  }
}

@layer base {
}

html {
  height: 100vh;
}
