@import 'tailwindcss';
@import 'swiper/swiper-bundle.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15pt;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

@media only screen and (max-width: 400px) {
  :root {
    font-size: 2rem;
  }
}

@theme {
  --color-visited: #551a8b;
  --color-cambridge: #82c09a;
}

@layer base {
  h1 {
    font-size: var(--text-2xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
  h3 {
    font-size: var(--text-lg);
  }
}

html {
  height: 100vh;
}
